// importing fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*-- scss:defaults --*/
$font-family-sans-serif: Montserrat, sans-serif !default;
$font-family-serif: Montserrat, serif !default;
$monokai-bg: #2e3440;

// Home page stuff
.title-block {
  margin: 1em 0;
  border-bottom: 3px solid #e9ecef;
  //border-bottom: 3px solid $gray-200;
  padding-bottom: 1em;
}

// Footer stuff
.nav-footer-left {
  text-align: left;
}

.nav-footer-right {
  text-align: right;
}

////////////////////////////////////////
// Code stuff
///////////////////////////////////

// Shrink blocks of code
pre.text, pre.sourceCode, .cell-output pre {
  font-size: 0.775em;
}

// Slight bottom margin to output
.cell-output {
  margin: 0 0 1em;
}

// Remove margin on pre in output
.cell-output pre {
  margin-bottom: 0;
  color: #ffffff;
}

// Format output and plain text blocks like code
.cell-output, pre.text {
  border: none;
  padding: 0.4em;
  background-color: $monokai-bg;
  border: 1px solid $monokai-bg;
  border-radius: .25rem;
}

pre.text {
  color: #ffffff;
}

main {
  // No space after lists-within-lists
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0em;
  }

  // But yes space after lists-within-lists when paragraphs are involved
  ol p + ol,
  ul p + ul,
  ol p + ul,
  ul p + ol {
    margin-bottom: 1em;
  }
}

.course-details ul {
  list-style: none;
  text-indent: -0.7rem;
  padding-left: 1.4rem;
}

////////////////////////////////////////////////////////////////////////////////////////////////
// New style from https://github.com/andrewheiss/governancef25.classes.andrewheiss.com/blob/main/html/custom.scss
////////////////////////////////////////////////////////////////////////////////////////////////

/*-- scss:defaults --*/
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

// new home page style
.course-title {
  font-size: 2.5rem;
  border-bottom: 3px solid $gray-200;
  //margin-top: 0;
  padding-bottom: 0.5em;
}

.course-subtitle {
  font-size: 1.5rem;
}

.course-meta {
  font-size: 1.25rem;
  color: $gray-600;
}
